article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
  color: #444; }

h1 {
  font-size: 4.5rem;
  line-height: 4.5rem; }

h2 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.2rem;
  margin-top: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: #444; }

p {
  font-size: 1rem;
  line-height: 1.76rem; }

.too-big {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none;
  font-size: 1rem; }

img {
  max-width: 100%; }

input[type=radio] {
  display: none;
  margin: 0;
  padding: 0; }

section {
  margin: 0;
  padding: 100px 0; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

header {
  margin: 0;
  background: url("../images/pet-turtle.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  header .wrapper {
    margin-left: 10%;
    width: 600px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start; }
    header .wrapper .company-logo {
      display: flex;
      flex-flow: column wrap; }
      header .wrapper .company-logo img {
        max-width: 100%; }
    header .wrapper .intro {
      width: 100%; }

form#userLocationInput {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start; }
  form#userLocationInput input#userPostalCode {
    outline: none;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    background: none;
    border: 1px solid #444;
    transition: all 0.3s;
    color: #444; }
    form#userLocationInput input#userPostalCode:focus, form#userLocationInput input#userPostalCode:hover {
      background: white; }
      form#userLocationInput input#userPostalCode:focus::-webkit-input-placeholder, form#userLocationInput input#userPostalCode:hover::-webkit-input-placeholder {
        color: #CBC57A; }
    form#userLocationInput input#userPostalCode:focus, form#userLocationInput input#userPostalCode:active {
      background: white;
      color: #CBC57A; }
  form#userLocationInput input[type=submit] {
    outline: none;
    border: none;
    padding: 15px 25px;
    background: #417505;
    color: white;
    border-radius: 10px;
    margin: 25px 0;
    margin-bottom: 0;
    font-size: 1rem;
    transition: background 0.3s; }
    form#userLocationInput input[type=submit]:hover {
      background: #CBC57A; }

input[type="text"]::-webkit-input-placeholder {
  color: #777777; }

.choose-animal {
  background: #EAE1D4;
  text-align: center; }
  .choose-animal .animal-categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; }

label {
  font-size: 1rem;
  padding: 25px;
  width: calc(100% / 4);
  text-align: center;
  transition: all 0.3s;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start; }
  label:hover {
    cursor: pointer; }
    label:hover .icon .fill {
      opacity: 0.8; }
    label:hover .title {
      color: #CBC57A; }
  label .icon {
    width: 100%;
    position: relative; }
    label .icon .fill {
      position: absolute;
      background: #CBC57A;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      opacity: 0; }
    label .icon img {
      display: block;
      border-radius: 10px;
      max-width: 100%; }
  label .title {
    text-align: center;
    width: 100%; }

.dynamic {
  background: #F2EEE6; }
  .dynamic .regTitle {
    text-align: center; }
  .dynamic .results {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center; }
    .dynamic .results .pet {
      width: calc(100% / 3 - 15px);
      margin: 7.5px;
      border: 2px solid white;
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.5); }
      .dynamic .results .pet p,
      .dynamic .results .pet a {
        font-size: 1rem; }
      .dynamic .results .pet a {
        text-decoration: none;
        color: #62a0b0;
        transition: color 0.3s; }
        .dynamic .results .pet a:hover {
          color: white; }
      .dynamic .results .pet .pet-image {
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 250px; }
      .dynamic .results .pet .pet-information {
        padding: 25px; }
        .dynamic .results .pet .pet-information .pet-description li {
          font-size: 1rem; }
        .dynamic .results .pet .pet-information .pet-description .more-info {
          display: inline-block;
          background: #CBC57A;
          padding: 10px;
          border-radius: 10px;
          margin-top: 25px;
          font-size: 0.8rem;
          color: white;
          transition: 0.3s; }
          .dynamic .results .pet .pet-information .pet-description .more-info:hover {
            background: #a0993f; }
  .dynamic .returnTop {
    text-align: center; }
    .dynamic .returnTop button {
      outline: none;
      border: none;
      padding: 15px 25px;
      background: #A6C9D2;
      color: white;
      border-radius: 10px;
      margin: 25px 0;
      font-size: 1rem;
      transition: background 0.3s; }
      .dynamic .returnTop button:hover {
        background: #62a0b0; }

footer {
  background: #444;
  padding: 25px 0; }

footer .credits {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  footer .credits p,
  footer .credits a {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: white; }
  footer .credits a {
    text-decoration: none;
    transition: color 0.3s; }
    footer .credits a:hover {
      color: #A6C9D2; }

/* Portrait tablet and small desktops */
@media (max-width: 1040px) {
  .dynamic .wrapper .results .pet {
    width: calc(100% / 2 - 15px); } }

/* Landscape phone to portrait tablet */
@media (max-width: 850px) {
  h2 {
    font-size: 1.4rem; }
  header {
    height: auto;
    padding: 50px 0; }
    header .wrapper {
      width: 80%;
      margin: 0 auto; }
  label {
    padding: 0px; }
    label .icon img {
      display: inline-block;
      width: 80%; }
  .dynamic .wrapper .results .pet {
    width: 100%;
    margin: 0 0 25px 0;
    text-align: center; } }

@media (max-width: 670px) {
  section {
    padding: 25px 0; }
  .choose-animal label {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    .choose-animal label .icon {
      width: 50%; }
      .choose-animal label .icon img {
        display: inline-block; }
    .choose-animal label .title {
      width: 50%;
      padding: 15px;
      text-align: left; }
  form#userLocationInput input#userPostalCode {
    width: 100%; }
  form#userLocationInput input[type=submit] {
    width: 100%; } }

/* Landscape phones and down */
@media (max-width: 550px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem; }
  h2 {
    font-size: 1.2rem; }
  header {
    height: auto;
    padding: 50px 0; }
    header .wrapper {
      width: 90%;
      padding: 50px 25px; }
  .wrapper {
    width: 90%; } }

/* Portrait phones and down */
@media (max-width: 480px) {
  h1 {
    display: none; }
  header .wrapper .company-logo {
    width: 100%;
    margin-bottom: 25px;
    text-align: center; } }
