article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
  color: #444;
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: #444;
}

p {
  font-size: 1.4rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
}

input[type=radio] {
  display: none;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 100px 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

header {
  margin: 0;
  background: linear-gradient(rgba(65, 117, 5, 0.5), rgba(65, 117, 5, 0.5)), url("../images/silver_scales/silver_scales.png");
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper h1,
header .wrapper p {
  color: white;
}

header .wrapper .company-logo {
  width: 40%;
  margin-right: 25px;
}

header .wrapper .company-logo img {
  width: 80%;
}

header .wrapper .intro {
  width: calc(60% - 25px);
}

header .wrapper .intro h1 {
  margin: 0;
}

form#userLocationInput {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form#userLocationInput input#userPostalCode {
  outline: none;
  width: 50%;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.4rem;
  text-align: center;
  background: none;
  border: 1px solid white;
  transition: all 0.3s;
}

form#userLocationInput input#userPostalCode:focus, form#userLocationInput input#userPostalCode:hover {
  background: white;
}

form#userLocationInput input#userPostalCode:focus::-webkit-input-placeholder, form#userLocationInput input#userPostalCode:hover::-webkit-input-placeholder {
  color: #CBC57A;
}

form#userLocationInput input#userPostalCode:focus {
  background: white;
  color: #CBC57A;
}

form#userLocationInput input[type=submit] {
  outline: none;
  border: none;
  padding: 15px 25px;
  background: #417505;
  color: white;
  border-radius: 10px;
  margin: 25px 0;
  font-size: 1.4rem;
  transition: background, color, 0.3s;
}

form#userLocationInput input[type=submit]:hover {
  background: white;
  color: #417505;
}

input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.choose-animal {
  background: #CBC57A;
  text-align: center;
}

.choose-animal .animal-categories {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  font-size: 1.4rem;
  border: 2px dotted #444;
  background: #CBC57A;
  display: block;
  min-height: 280px;
  padding: 50px;
  border-radius: 10px;
  width: calc(100% / 4 - 25px);
  margin-right: 25px;
  text-align: center;
  transition: all 0.3s;
}

label:hover {
  background: #a0993f;
  border: 2px solid;
}

label img {
  max-width: 100%;
}

.dynamic {
  background: #62a0b0;
}

.dynamic .regTitle {
  text-align: center;
  color: #c8dee3;
}

.dynamic .miniTitle {
  visibility: hidden;
}

.dynamic .results {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.dynamic .results .pet {
  width: calc(100% / 3 - 15px);
  margin: 7.5px;
  padding: 25px;
  background: #c8dee3;
  border: 2px dotted white;
  border-radius: 10px;
}

.dynamic .results .pet p,
.dynamic .results .pet a {
  font-size: 1rem;
}

.dynamic .results .pet a {
  text-decoration: none;
  color: #62a0b0;
  transition: color 0.3s;
}

.dynamic .results .pet a:hover {
  color: white;
}

.dynamic .results .pet .pet-image {
  text-align: center;
  margin-bottom: 25px;
}

.dynamic .results .pet .pet-image img {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
}

/* Portrait tablet and small desktops */
@media (max-width: 1040px) {
  .dynamic .results .pet {
    width: calc(100% / 2 - 15px);
  }
  header .intro p {
    font-size: 1.2rem;
  }
  form#userLocationInput input#userPostalCode {
    font-size: 1.2rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 850px) {
  .wrapper {
    width: 90%;
  }
  header {
    height: auto;
    padding: 25px 0;
  }
  header .wrapper {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
  }
  header .intro {
    width: 80%;
    text-align: left;
  }
  .dynamic .results {
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .dynamic .results .pet {
    width: calc(100% - 15px);
  }
  .dynamic .results .pet .pet-image img {
    height: 200px;
  }
}

@media (max-width: 670px) {
  .dynamic h2 {
    font-size: 1.4rem;
  }
  form#userLocationInput input#userPostalCode {
    width: 100%;
  }
}

/* Landscape phones and down */
@media (max-width: 550px) {
  .dynamic .regTitle {
    visibility: hidden;
  }
  .dynamic .miniTitle {
    visibility: visible;
    text-align: center;
    color: #c8dee3;
  }
  .dynamic .results .pet .pet-image img {
    max-height: 150px;
  }
}

/*# sourceMappingURL=main.css.map */